<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item bg-dark">
              <%= link_to profile_path, class: 'text-white' do %>
                <i class="fas fa-user"></i> <%= t('.mypage') %>
              <% end %>
            </li>

            <li class="list-group-item">
              <%= link_to user_post_path, class: 'text-dark' do %>
                <i class="fas fa-list"></i> <%= t('.my_posts') %>
              <% end %>
            </li>

            <li class="list-group-item">
              <%= link_to favorited_posts_path, class: 'text-dark' do %>
                <i class="fas fa-heart"></i> <%= t('.my_favorites') %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-header bg-dark text-white">
          <div class="d-flex justify-content-between align-items-center">
            <div class="user-container d-flex align-items-center">
              <% if current_user.avatar? %>
                <%= image_tag current_user.avatar.url, size: "40x40", style: "border-radius: 50%;", class: "mr-1" %>
              <% else %>
                <%= image_tag("noavatar.png", size: "40x40", style: "border-radius: 50%;", class: "mr-1") %>
              <% end %>
              <h2 class="m-0 mb-0"><%= current_user.name %></h2>
            </div>
            <%= link_to edit_profile_path, class: 'btn btn-success' do %>
              <i class="fas fa-edit"></i> <%= t('.Edit') %>
            <% end %>
          </div>
        </div>

        <div class="card-body">
          <div class="card border bg-light mb-4">
            <div class="card-body">
              <p class="card-text"><strong><%= User.human_attribute_name("place_of_birth") %>:</strong> <%= current_user.place_of_birth %></p>
              <p class="card-text"><strong><%= User.human_attribute_name("hobbies") %>:</strong> <%= current_user.hobbies %></p>
              <p class="card-text"><strong><%= User.human_attribute_name("self_introduction") %>:</strong> <%= current_user.self_introduction %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>