<div class="card-form pb-4 px-3">
  <div class="container">
    <div class="row p-5">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 py-5 px-4 my-5 shadow bg-white">
        <h1 align="center"><%= t('.title') %></h1>
        <%= form_with model: @user, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name, User.model_name.human %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, User.human_attribute_name("email") %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, User.human_attribute_name("password") %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, User.human_attribute_name("password_confirmation") %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.submit '登録', class: 'btn btn-primary' %>
        <% end %>
        <div class='text-center'>
          <%= link_to t('.to_login_page'), login_path %>
        </div>
      </div>
    </div>
  </div>
</div>