<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <%= link_to root_path, class: 'header-brand' do %>
      <%= image_tag 'linkedin_banner_image_1.png', size: '200x100' %>
    <% end %>

    <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form ml-lg-auto mr-2") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= button_tag type: "submit", class: "search-btn", id: "search" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>

    <div class="ml-auto d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to t('defaults.mypage'), profile_path, class: 'dropdown-item' %>
          </li>
          <li class="nav-item">
            <%= link_to t('defaults.PostNew'), new_post_path, class: 'dropdown-item' %>
          </li>
          <li class="nav-item">       
            <%= link_to logout_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: 'dropdown-item' do %>
              <%= t('defaults.logout') %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
