<% if recommended_posts.present? %>
  <div class="recommended-posts mt-5">
    <h3 class="mb-4 text-center">あなたにおすすめの投稿</h3>
    <div class="row">
      <% recommended_posts.each do |post| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow">
            <%= image_tag post.image.url, class: "card-img-top", alt: "投稿の画像", style: "height: 200px; object-fit: cover;" %>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">
                <%= link_to post.title.truncate(30), post_path(post), class: 'text-dark' %>
              </h5>
              <div class="mt-auto">
                <div class="d-flex justify-content-between align-items-center">
                  <div id="favorite-info-<%= post.id %>" data-favorite-info-id="<%= post.id %>">
                    <% if @user_favorite_post_ids.include?(post.id) %>
                      <%= link_to post_favorites_path(post.id), method: :delete, remote: true, class: "text-danger", data: { post_id: post.id } do %>
                        <i class="fas fa-heart"></i>
                        <span id="favorites-count-<%= post.id %>"><%= post.favorites_count %></span>
                      <% end %>
                    <% else %>
                      <%= link_to post_favorites_path(post.id), method: :post, remote: true, class: "text-secondary", data: { post_id: post.id } do %>
                        <i class="far fa-heart"></i>
                        <span id="favorites-count-<%= post.id %>"><%= post.favorites_count %></span>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="d-flex align-items-center">
                    <% if post.user.avatar? %>
                      <%= image_tag post.user.avatar.url, size: "30x30", style: "border-radius: 50%;" %>
                    <% else %>
                      <%= image_tag("noavatar.png", size: "30x30", style: "border-radius: 50%;") %>
                    <% end %>
                    <%= link_to post.user.name, user_path(post.user_id), class: 'small ml-2 text-muted' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
