<div class="container">
  <%= form_with model: @post, local: true, html: {class: "needs-validation", novalidate: ""} do |f| %>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 mb-4">
        <div class="card card-custom shadow">
          <div class="card-header card-header-custom">
            タイムスケジュール
          </div>
          <div class="card-body">
            <div id="time-schedules-container">
              <div id="time-schedules">
                <%= f.fields_for :time_schedules do |time_schedule| %>
                  <%= render 'time_schedule_fields', f: time_schedule %>
                <% end %>
              </div>
              <div class="text-center">
                <button id="add_schedule" type="button" class="add-schedule-btn">タイムスケジュールを追加</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card card-custom shadow">
          <div class="card-header card-header-custom">
            <%= t('.title') %>
          </div>
          <div class="card-body">
            <%= render 'layouts/error_messages', model: f.object %>

            <div class="form-group mb-3">
              <%= f.label :title, Post.human_attribute_name("title"), class: 'form-label' %>
              <%= f.text_area :title, class: 'form-control' %>
            </div>

            <div class="form-group mb-3">
              <div class="row">
                <div class="col">
                  <%= f.label :start_time, Post.human_attribute_name("start_time") %>
                  <%= f.time_field :start_time, class: 'form-control' %>
                </div>
                <div class="col">
                  <%= f.label :end_time, Post.human_attribute_name("end_time") %>
                  <%= f.time_field :end_time, class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <%= f.label :budget, Post.human_attribute_name("budget") %>
              <%= f.text_field :budget, class: 'form-control', placeholder: '例：〇〇〇〇円ほど' %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :image, Post.human_attribute_name("image") %>
              <%= f.file_field :image, class: "form-control", accept: 'image/*' %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :prefecture_id, Post.human_attribute_name("prefecture_id") %>
              <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, class: 'form-control' %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :season, Post.human_attribute_name("season") %>
              <% Post.seasons.keys.each do |season| %>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :season, season, class: 'form-check-input' %>
                  <%= f.label :season, Post.human_attribute_name("seasons.#{season}"), value: season, class: 'form-check-label' %>
                </div>
              <% end %>
            </div>

            <div class="text-center">
              <%= f.submit '投稿', class: 'btn btn-custom mt-3' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
