<div class="post-list-container py-4 px-5 shadow">
  <div class="container search-results-container"> 
      <% if @posts == [] %>
        <h3 class = "text-center pt-5 mx-auto fw-bold"><%= t('.search-none') %></h3>
      <% else %>
        <h3 class = "text-center pt-5 mx-auto fw-bold"><%= t('.search-results') %></h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-5">
          <% @posts.each do |post| %>
            <div class="col mb-4">
              <div class="card">
              <%= image_tag post.image.url, class: "card-img-top", alt: "投稿の画像" %>
                <div class="card-body">
                  <h5 class="card-title post-title-link">
                    <%= link_to post.title.truncate(45), post_path(post), class: 'post-link text-dark' %>
                  </h5>
                </div>
                <div class="card-footer d-flex justify-content-end">
                  <%= link_to post.user.name, user_path(post.user_id), class: 'post-link text-muted' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    <div class="d-flex justify-content-center mt-4">
      <%= paginate @posts %>
    </div>
  </div>
</div>