<div class="post-detail py-4 px-3 shadow">
  <div class="container-fluid px-5 my-5">
    <div class="row">
      <div class="col-8">
        <div class="plan-detail-card shadow">
          <div class="d-flex justify-content-between">
            <div class="p-2">
              <h3 class="post-detail-title font-italic">Plan Details</h3>
            </div>

            <div class="d-flex right-items">
              <div class="align-self-center mr-3">
                <%= link_to edit_post_path(@post) do %>
                  編集
                <% end %>
              </div>

              <div class="align-self-center mr-3">
                <%= link_to post_path(@post), method: :delete, data: {confirm: "削除しますか？"} do %>
                  削除
                <% end %>
              </div>

              <div class="align-self-center mr-3">
                  <%= link_to @post.user.name, '#' %>
              </div>
            </div>
          </div><br>

          <div class="d-flex justify-content-center">
            <div class="show-card border w-75 bg-white">
              <p class="show-text-start mt-2 mx-3">
                <%= @post.title %>
              </p>
            </div>
          </div><br>

          <div class="d-flex justify-content-center">
            <div class="time-zone-display w-75 d-inline-flex">
              <div class="circle">
                <span class="time font-italic">
                  時間帯
                </span>
              </div>

              <div class="time-display">
                <%= l @post.start_time, format: :short %>から
                <%= l @post.end_time, format: :short %>頃まで
              </div>
            </div>
          </div><br>

          <div class="d-flex justify-content-center">
            <div class="budget-display w-75 d-inline-flex">
              <div class="circle">
                <span class="budget font-italic">
                  予算
                </span>
              </div>

              <div class="budget-display">
                <%= @post.budget %>
              </div>
            </div>
          </div><br><br><br>

        </div>
      </div>

      <div class="col-4">
        <div class="time-schedule-card d-flex flex-column shadow">
          <div class="p-2">
            <h3 class="time-schedule-title font-italic">Time Schedule</h3>
          </div>

          <%= render partial: "posts/schedule", collection: @schedules %>

          <% if @post.user == current_user %>
            <div class="plan-form m-2">
              <%= form_with(model: [@post, @schedule], class: 'js-form') do |f| %>
                <div class="p-2">
                  <%= f.label :時刻 %><br>
                  <%= f.time_field :time_stamp, prompt:true, ignore_data:true, class: 'form-control col-xl-3' %>
                </div>
                <div class="p-2">
                  <%= f.label :予定 %>
                  <%= f.text_area :plan, class: 'form-control' %>
                </div>
                <div class="p-2">
                  <%= f.submit '追加', class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>