<div class="post-detail py-4 px-3 shadow">
  <div class="container-fluid px-2 px-md-5 my-5">
    <div class="row">
      <div class="col-md-8">
        <div class="plan-detail-card shadow">
          <div class="d-flex justify-content-between align-items-center">
            <div class="p-2">
              <h3 class="post-detail-title font-italic">Plan Details</h3>
            </div>
            <div class="d-flex right-items">
              <div class="align-self-center mx-2">
                <% if current_user && @post.favorited?(current_user) %>
                  <%= link_to post_favorites_path(@post.id), method: :delete, class: 'btn btn-outline-secondary btn-sm' do %>
                    <i class="fas fa-heart" style="color:#e83e8c;"></i> <%= t('.Unlike') %>
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(@post.id), method: :post, class: 'btn btn-outline-secondary btn-sm' do %>
                    <i class="far fa-heart"></i> <%= t('.Like') %>
                  <% end %>
                <% end %>
              </div>

              <% if @post.user == current_user %>
                <div class="align-self-center mx-2">
                  <%= link_to(edit_post_path(@post), class: 'btn btn-outline-secondary btn-sm') do %>
                    <i class="fas fa-pencil-alt"></i> <%= t('.Edit') %>
                  <% end %>
                </div>
                <div class="align-self-center mx-2">
                  <%= link_to(post_path(@post), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-danger btn-sm') do %>
                    <i class="fas fa-trash-alt"></i> <%= t('.Destroy') %>
                  <% end %>
                </div>
              <% end %>

              <div class="d-flex justify-content-center align-self-center mx-2">
                <% if @post.user.avatar? %>
                  <%= image_tag @post.user.avatar.url, size: "25x25", style: "border-radius: 50%;" %>
                <% else %>
                  <%= image_tag("noavatar.png", size: "25x25", style: "border-radius: 50%;") %>
                <% end %>
                <%= link_to @post.user.name, user_path(@post.user_id), class: 'post-link mx-1' %>
              </div>
            </div>
          </div><br>

          <div class="d-md-flex justify-content-center">
            <div class="show-card border w-md-75 w-75 bg-white p-3 mx-auto">
              <p class="show-text-start">
                <%= @post.title %>
              </p>
            </div>
          </div><br>

          <div class="d-md-flex justify-content-center">
            <div class="time-zone-display w-md-75 w-75 d-inline-flex p-3 mx-5">
              <div class="circle">
                <span class="time font-italic">
                  <%= t('.time') %>
                </span>
              </div>
              <div class="time-display ml-3">
                <%= l @post.start_time, format: :short %><%= t('.from') %><%= l @post.end_time, format: :short %><%= t('.until') %>
              </div>
            </div>
          </div>

          <div class="d-md-flex justify-content-center">
            <div class="budget-display w-md-75 w-75 d-inline-flex p-3 mx-5">
              <div class="circle">
                <span class="budget font-italic">
                  <%= t('.budget') %>
                </span>
              </div>
              <div class="budget-display ml-3">
                <%= @post.budget %>
              </div>
            </div>
          </div><br><br><br>
        </div>
      </div>

      <div class="col-md-4 mt-4 mt-md-0">
        <div class="time-schedule-card d-flex flex-column shadow">
          <div class="p-2">
            <h3 class="time-schedule-title font-italic">Time Schedule</h3>
          </div>

          <%= render partial: "posts/schedule", collection: @schedules %>

          <%= paginate @schedules %>

          <% if @post.user == current_user %>
            <div class="plan-form m-2">
              <%= form_with(model: [@post, @schedule], class: 'js-form') do |f| %>
                <%= render 'layouts/error_messages', model: f.object %>
                <div class="p-2">
                  <%= f.label :time_stamp, TimeSchedule.human_attribute_name("time_stamp") %><br>
                  <%= f.time_field :time_stamp, prompt: true, ignore_data: true, class: 'form-control' %>
                </div>
                <div class="p-2">
                  <%= f.label :genre, TimeSchedule.human_attribute_name("genre") %>
                  <%= f.select :genre, TimeSchedule::GENRES.map { |genre| [genre, genre] }, { prompt: "ジャンルを選択してください" }, { class: 'form-control' } %>
                </div>
                <div class="p-2">
                  <%= f.label :plan, TimeSchedule.human_attribute_name("plan") %>
                  <%= f.text_area :plan, class: 'form-control' %>
                </div>
                <div class="p-2">
                  <%= f.submit '追加', class: 'btn btn-custom' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
